
<!-- 相当于给模板定义一个名字 define end 成对出现-->
{{define "admin/index.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
{{template "public/page_header.html"}}
<img src="/static/images/node.jpg" alt="">
<h1>前台模板</h1>
<h3>{{.title}}</h3>
<br>
{{.date}}
<br>
{{UnixToTime .date}}
<br>
<br>
{{Println .title .name}}
</body>
</html>
{{ end }}